<div class="user-details">
    <h1> About me </h1>
    <p>Hi! I'm Alex, a <b>Software Engineer</b> from Galicia, a region in the northwest of Spain.</p>
    <p>
        I've been working professionally in software development since approximately 2011. But it's a whole life that
        I've been an enthusiast of technologies.
    </p>
    <p>
        My profile is mainly technical, I'm a <b>Backend Architect</b>, but I am also used to collaborate with management.
        I have managed teams of developers in the role of tech lead, and I have also worked as a Solutions Architect.
        I have been fortunate to work in companies that let me participate in all phases of project
        execution, allowing me to have a very broad vision of the entire software development process.
    </p>
    <p>
        During the first phase of my career, I have worked as a programmer analyst and software architect, designing solutions for large-scale document
        management based on <a aria-label="alfresco" target="_blank" href="https://www.alfresco.com/">Alfresco
        Software</a>.
        I have also done consulting work related to this document manager, participating in performance audits and
        technical training to IT departments.
    </p>
    <p>
        After that, I have worked with the develop team of <a class="link" href="#biccw" data-scroll><b>BIC Cloud
        Workflow & BIC Cloud GRC</b></a>.
        An integral solution for the design and automation of workflow processes, and its implementation for the
        management of controls and risks.
    </p>
    <p>
        Currently, I have moved to Pittsburgh (USA) with <a aria-label="sngular" target="_blank"
                                                            href="https://www.sngular.com/"><b>Sngular</b></a>.
        Here I'm building from scratch an application to give stock exchange real-time information to PNC Bank customers
        based on <a aria-label="apache-kafka" target="_blank" href="https://kafka.apache.org/"><b>Kafka</b></a> and <a
            aria-label="confluent" target="_blank" href="https://www.confluent.io/"><b>Confluent</b></a>.
    </p>
    <p>I really enjoy what I do, and that encourages me to keep improving every day so as to become a better
        professional.</p>
</div>
