 <div class="user-details">
  <h1> About me </h1>
  <p>Hi! I'm Alex, a <b>Software Engineer</b> from Galicia, a region in the north west of Spain.</p>
  <p>
    I've been working professionally in software development since approximately 2011. 
    But it's a whole life that I've been an enthusiast of technologies... since I was very young.
  </p>
  <p>
    I'm a <b>Senior Backend Developer</b> with DevOps tools experience, and I'm spending time learning everything I can about frontend in order to define myself someday as a fullstack.
    I'm a person with a technical profile, after all it is what I like the most, but I have also collaborated in tasks related to project management. 
    In this sense, I have been fortunate to work in companies that let me participate in all phases of project execution, allowing me to have a very broad vision of the entire software development process.      
  </p>
  <p>
    Most of my career I have worked as a programmer analyst, designing solutions for large-scale document management based on <a aria-label="alfresco" target="_blank" href="https://www.alfresco.com/">Alfresco Software</a>.      
    I have also done consulting work related to this document manager, participating in performance audits and technical training to IT departments.
  </p>
  <p>    
    Currently I work in the development team of <a class="link" href="#biccw" data-scroll><b>BIC Cloud Workflow & BIC Cloud GRC</b></a>. 
    An integral solution for the design and automation of workflow processes, and its implementation for the management of controls and risks.
  </p>
  <p>I really enjoy what I do, and that encourages me to keep improving everyday so as to become a better professional.</p>
</div>
