<footer class="footer">
  <p>Modified with  <span class="love">❤</span>  by {{site.username}}</p>
  <p style="margin-bottom: 0px">Original author</p>
  <a class="github-button" href="https://github.com/alopezsanchez/alopezsanchez.github.io" data-size="small" data-show-count="false" aria-label="Follow @alopezsanchez on GitHub">@alopezsanchez</a>
</footer>
<script async defer src="https://buttons.github.io/buttons.js"></script>
<script src="//cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script>
<script src="{{ "/assets/js/sweet-scroll.min.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/assets/js/main.js" | prepend: site.baseurl }}"></script>
{% include google-analytics.html %}
