<div class="user-details">
  <h1> Projects </h1>
  <p>Some of the projects I have worked on</p>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="Node.js" src="{{ " /assets/img/xedoc.png " | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Xedoc </h3>
    <p class="skills">
      <b>Java</b>,
      <b>JQuery</b>,
      <b>Alfresco</b>,
      <b>CMIS</b>,
      <b>Oracle</b>...
    </p>
    <p>
      The first Open System Architecture for Alfresco and healthcare. Provides components to meet the requirements of any healthcare repository.
      Web access, SOAP integration, interoperability with HL7, XDS & XCA, semantic search, digital signature, multiple repository management, etc…
    </p>
    <a class="project-link" target="_blank" href="http://www.proxectoxedoc.com/">More info</a>
  </div>
</div>

<section id="biccw">
  <div class="user-projects">
    <div class="images-right">
      <img alt="MEAN" src="{{ " /assets/img/biccw.png " | prepend: site.baseurl }}" />
    </div>
    <div class="contents">
      <h3> BIC Cloud Workflow & BIC Cloud GRC</h3>
      <p class="skills">
        <b>Angular CLI</b>,
        <b>Spring Boot</b>,
        <b>Java 8</b>,
        <b>Docker</b>,
        <b>Rabbit MQ</b>,
        <b>jBPM</b>...
      </p>
      <p>
          BIC Cloud Workflow is a powerful and intuitive software on basis of newest technologies for the digitization of your administrative processes.
          On the other hand, BIC Cloud GRC extends BICCW providing everything needed to ensure reliable corporate-wide risk management.
      </p>
      <div class="double-project-link">
        <a class="project-link" target="_blank"
          href="https://www.gbtec.de/en/bpm-software-en/bic-cloud-workflow/">BIC Cloud Workflow</a>
        <a class="project-link" target="_blank"
          href="https://www.gbtec.de/en/bpm-software-en/bic-cloud-workflow/bic-cloud-grc/">BIC Cloud GRC</a>
      </div>
    </div>
  </div>
</section>

<div class="user-projects">
  <div class="images-left">
    <img alt="angular" src="{{ " /assets/img/smartcity.jpg " | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Smart Government </h3>
    <p class="skills">
        <b>Angular 5</b>,
        <b>Java</b>,
        <b>Spring Boot</b>,
        <b>Docker</b>,
        <b>PostgreSQL</b>,
        <b>Nuxeo</b>...
    </p>
    <p>
        The project aims to improve the efficiency of cities through information and communication technologies.
        The use of information collected through different means will allow the Administration to make optimal decisions and better use the assets of the city, as well as offer new services that adapt to their real demands.
        Smart Government goes beyond the capture of this data, since its mission is to apply artificial intelligence systems that interpret and relate all that information, to reach conclusions that could hardly reach a person.
      </p>
      <a class="project-link" target="_blank" href="http://www.smartgovernment.es/">More info</a>
  </div>
</div>