#about {
  width: 90%;
  margin: 0 auto;
  max-width: 960px;
  @media only screen and (min-width: $cut) {
    width: 80%;
  }
}

.user-details {
  text-align: justify;
  margin: 5px auto;
}
.user-details h1{
  text-align: center;
}
.user-details .centered{
  text-align: center;
}